.containerr {
  width: 60%;
  background-color: rgb(18, 17, 17);
  padding: 30px 80px;
  backdrop-filter: blur(5px);
  // border-radius: 10px;
  
}

@media (max-width: 768px) {
  .containerr {
    width: 100%;
    padding: 9px 10px;
  }
    
}