.containerr {
  width: 70%;
  background-color: rgba(255, 255, 255, 0.422);
  padding: 30px 80px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  
}

@media (max-width: 768px) {
  .containerr {
    width: 100%;
    padding: 9px 10px;
  }
    
}